<h2>Enter Your Information</h2>
<hr>


<%= form_for @info do |f| %>
  Name: <%= f.text_field :Name %><br />
  Email: <%= f.text_field :Email %><br />
  Phone: <%= f.text_field :Phone %><br />
  <%= f.submit %>
<% end %>
